#img { 
    width: 1050px;
    height: 350px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:darksalmon;
}

.caixa {
  width: 1000px;
  text-align: center;
}

.caixa h1 {
  margin-bottom: 30px;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
}

.caixa .texto {
  font-family: 'PT Mono', monospace;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 30px;
}

.caixa .botoes {
  display: flex;
  justify-content: space-around;
}

.caixa .btn {
  border: 2px solid #ffffff;
  padding: 15px;
  border-radius: 10px;
  background: none;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
  outline: none;
  font-family: 'Orbitron', sans-serif;
}

.caixa .btn:hover {
  border-color: #E032E6;
  transition: 380ms;
}

.caixa .btn-1, .btn-2 {
  font-family: 'PT Mono', monospace;
  width: 300px;
  display: none;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  background: none;
  border: 2px solid #ffffff;
  outline: none;
  margin-bottom: 30px;
}

.caixa .btn-1:hover {
  border-color: #E032E6;
  transition: 380ms;
}

.caixa .btn-1:visited {
  color: none;
}

.caixa .btn-2:visited {
  color: none;
}

.caixa .btn-1:visited:hover {
  color: none;
}

.caixa .btn-2:visited:hover {
  color: none;
}

.caixa .btn-2:hover {
  border-color: #E032E6;
  transition: 380ms;
}

.caixa a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-family: sans-serif;
}

.caixa a:hover {
  color:#E032E6;
  transition: 380ms;
}

.caixa a:visited {
  color: none;
} 


.caixa a:visited:hover {
  color: none;
}